
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 96vw;
    height: 95vh;
   background:lightgray url("pexels-karolina-grabowska-5412081.jpg") center center fixed no-repeat;
   background-size: cover;
   

}
#res{
    text-indent: 10px;
   text-align: justify;
   font-size: 2em;
    border-radius:8px 40px 3px 3px;
    box-shadow: inset 3px 2px 7px rgba(0, 0, 0, 0.445);
    background-color: rgb(68, 82, 66);
    margin-bottom: 10px;
    width: 300px;
    height: 80px;
}
div{
   
    width: 300px;
    margin: auto;
}
main{
    padding-top: 20px;
    margin:auto;
   margin-top: 100px ;
    width: 320px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.473);
    border-color: black;
    border-style: ridge;
   background-color: gainsboro;
   border-radius: 8px 40px 3px 3px;
}
div>input{
    color: white;
    background-color: gray;
  border-radius: 10px ;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
   font-size: 2em;
  width: 60px;
  height:60px;
    margin: 0px 8px 8px 0px;
} 
:hover.destaque{
    color: black;
    background-color: orange;
    transition: 0.3s;
}
.pfila{
    padding-left:20px ;
    margin: auto;
}
.sfila{
    padding-left:20px ;
    margin: auto;
}
.tfila{
    padding-left:20px ;
    margin: auto;

}
.qfila{
    padding-left:20px ;
   margin: auto;
}
#x{
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.521); 
   font-size: 1.8em;
   border-radius: 60px 10px 10px 60px;
   border-style: hidden;
    height: 40px;

}
:hover.material-symbols-outlined{
    color: black;
    background-color: orange;
    transition: 0.3s;
}